Flask==3.0.3
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
Werkzeug==3.0.4
WTForms==3.2.1
SQLAlchemy==2.0.36
bcrypt==4.2.1  # استُخدمت عبر flask_bcrypt
requests==2.32.3
python-dotenv==1.0.1
celery==5.4.0
gunicorn==21.2.0  # لتشغيل التطبيق على Render
Flask-Bcrypt==1.0.1
psycopg2-binary==2.9.10
boto3==1.36.19
email-validator
